.App {
  display: flex;
  padding: 8px;
}
.dashboard {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
}
.padding_2px {
  padding: 2px;
}
.dashbaord-center {
  width: 80%;
}
.dashboard-right {
  border-radius: 5px;
  border: rgb(221, 221, 221) solid 1px;
  width: 20%;
}
h1 {
  font-size: 20px !important;
  font-weight: 600;
}
.logo {
  padding: 20px;
}
.sidebar {
  width: 200px;
  /* padding-top: 200px; */
  padding-left: 2px;
  height: 100vh;
  border-radius: 5px;
  border: rgb(235, 232, 232) solid 1px;
}
.sidebar_items {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  margin: 2px;
}
.sidebar_items a {
  color: black;
  font-size: 20px;
  margin-bottom: 10px;
  text-decoration: none;
}
h2 {
  color: black;
  font-size: 20px;
  font-weight: 500;
}
.tab-nav a {
  text-decoration: none;
  padding: 20px;
}
.tab_active {
  color: red;
  text-decoration: underline !important;
}
.innercontent,
.login_container {
  padding: 20px;
  /* padding-left: 40px; */
  display: flex;
  width: 100%;
}
